
        body.enable-mobile {
            padding: 0;
            line-height: 1.5;
        }
        
        div.right,
        a.right {
            right: 0;
            left: auto;
            z-index: 10;
        }
        
        div.multi-col .silex-element-content {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
        
        .feature h2 {
            font-weight: lighter;
        }
        
        .nav {
            text-transform: uppercase;
            line-height: 1.5;
        }
        
        .hero h2 * {
            line-height: 1.5;
        }
        
        .hero h1 * {
            text-transform: uppercase;
        }
        
        .text-element.button {
            text-transform: uppercase;
            padding-top: 8px;
            color: white;
            font-size: 30px;
            letter-spacing: -1px;
            text-align: center;
        }
        
        .text-element.button:hover {
            background-color: #004a7a;
            color: white;
            text-decoration: inherit;
        }
        
        .list {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
        
        .list.cols4 {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }
        
        .list .editable-style {
            position: relative;
            display: inline-block;
            top: auto;
            left: auto;
            max-width: 95%;
            margin: 10px 100px;
        }
    
        .body-initial {
            background-color: rgba(192, 210, 231, 1);
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474394621033-3 {
                top: 0px;
                left: 0px;
                width: 469px;
            }
        }
        
        .silex-id-1474394621032-2 {
            min-height: 63px;
            background-color: rgba(0, 74, 122, 1);
            top: 0px;
            left: 209px;
            width: 1200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474394621032-2 {
                min-height: 258px;
            }
        }
        
        .silex-id-1474579300132-38 {
            min-height: 41px;
            width: 135px;
            top: 12px;
            left: 50px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474579300132-38 {
                top: 14px;
                left: 154px;
                width: 138px;
                min-height: 102px;
            }
        }
        
        .silex-id-1474408836543-1 {
            min-height: 35px;
            width: 26px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474408836543-1 {
                top: -2px;
                left: 2px;
                width: 58px;
                min-height: 68px;
            }
        }
        
        .silex-id-1474409165718-4 {
            min-height: 48px;
            width: 60px;
            top: 5px;
            left: 29px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474409165718-4 {
                top: 34px;
                left: 66px;
                width: 70px;
                min-height: 34px;
            }
        }
        
        .silex-id-1474578602644-37 {
            min-height: 24px;
            width: 471px;
            top: 20px;
            left: 677px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474578602644-37 {
                top: 107px;
                left: 39px;
                width: 368px;
                min-height: 63px;
            }
        }
        
        .silex-id-1474475753554-24 {
            min-height: 149px;
            width: 149px;
            top: -8px;
            left: 1495px;
        }
        
        .silex-id-1474409102114-3 {
            top: 63px;
            left: 0px;
            min-width: 1200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474409102114-3 {
                top: 258px;
                left: 0px;
            }
        }
        
        .silex-id-1474409102114-2 {
            min-height: 694px;
            background-color: rgba(0, 74, 122, 1);
            top: 0px;
            left: 115px;
            width: 1200px;
            background-image: url('../assets/bg1-small2-transp.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474409102114-2 {
                top: 0px;
                min-height: 514px;
                left: 14px;
                width: 442px;
            }
        }
        
        .silex-id-1474472686825-5 {
            min-height: 102px;
            width: 79px;
            top: 73px;
            left: 562px;
        }
        
        .silex-id-1474472716691-6 {
            min-height: 150px;
            width: 945px;
            top: 194px;
            left: 117px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474472716691-6 {
                top: 37px;
                left: 11px;
                width: 423px;
                min-height: 387px;
            }
        }
        
        .silex-id-1476041165981-0 {
            min-height: 63px;
            width: 215px;
            top: 439px;
            left: 485px;
            border-width: 3px 3px 3px 3px;
            border-style: solid;
            border-radius: 3px 3px 3px 3px;
        }
        
        .silex-id-1496416985709-0 {
            top: 1060px;
            left: NaNpx;
            min-width: 1200px;
        }
        
        .silex-id-1496416985709-1 {
            min-height: 525px;
            background-color: rgba(206, 216, 228, 1);
            width: 1200px;
            top: 15px;
            left: 207px;
        }
        
        .silex-id-1496417014922-3 {
            width: 1000px;
            background-color: rgb(255, 255, 255);
            min-height: 615px;
            top: -107px;
            left: 96px;
        }
        
        .silex-id-1474475532881-16 {
            top: 1096px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474475532881-16 {
                top: 685px;
                left: 0px;
                width: 469px;
                background-color: rgba(206, 216, 228, 1);
            }
        }
        
        .silex-id-1474475532882-17 {
            min-height: 540px;
            background-color: rgba(206, 216, 228, 1);
            width: 1200px;
            top: 0px;
            left: 212px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474475532882-17 {
                top: 0px;
                left: 12px;
                width: 446px;
                min-height: 720px;
            }
        }
        
        .silex-id-1474473839999-10 {
            min-height: 117px;
            width: 364px;
            top: 55px;
            left: 190px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474473839999-10 {
                top: 23px;
                left: 11px;
                width: 423px;
                min-height: 117px;
            }
        }
        
        .silex-id-1474474097724-0 {
            min-height: 151px;
            width: 364px;
            top: 55px;
            left: 634px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474097724-0 {
                top: 186px;
                left: 11px;
                width: 423px;
                min-height: 168px;
            }
        }
        
        .silex-id-1474474384996-1 {
            min-height: 134px;
            width: 364px;
            top: 299px;
            left: 190px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474384996-1 {
                top: 400px;
                left: 11px;
                width: 423px;
                min-height: 134px;
            }
        }
        
        .silex-id-1474474385000-2 {
            min-height: 116px;
            width: 364px;
            top: 299px;
            left: 634px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474385000-2 {
                top: 580px;
                left: 11px;
                width: 424px;
                min-height: 117px;
            }
        }
        
        .silex-id-1474472923532-8 {
            top: 851px;
            left: 0px;
            min-width: 1200px;
        }
        
        .silex-id-1474472923531-7 {
            min-height: 761px;
            background-color: rgba(206, 216, 228, 1);
            width: 1200px;
            top: 15px;
            left: 207px;
        }
        
        .silex-id-1496345062090-0 {
            height: 615px;
            width: 1000px;
            background-color: transparent;
            top: 63px;
            left: 96px;
            min-height: 1px;
        }
        
        .silex-id-1474474787860-4 {
            top: 1641px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474787860-4 {
                top: 1349px;
                left: 0px;
                width: 469px;
            }
        }
        
        .silex-id-1474474787859-3 {
            min-height: 420px;
            background-color: rgba(255, 255, 255, 1);
            width: 1200px;
            top: 0px;
            left: 115px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474787859-3 {
                min-height: 374px;
            }
        }
        
        .silex-id-1474475027688-12 {
            min-height: 66px;
            width: 557px;
            top: 19px;
            left: 326px;
        }
        
        .silex-id-1474580644053-39 {
            min-height: 263px;
            width: 803px;
            top: 85px;
            left: 205px;
            background-color: rgb(255, 255, 255);
        }
        
        .silex-id-1474475294201-14 {
            min-height: 60px;
            width: 242px;
            top: 10px;
            left: 100px;
        }
        
        .silex-id-1474475324302-15 {
            min-height: 55px;
            width: 143px;
            top: 14px;
            left: 251px;
        }
        
        .silex-id-1474475693540-21 {
            min-height: 50px;
            width: 157px;
            top: 79px;
            left: 399px;
        }
        
        .silex-id-1474475715424-22 {
            min-height: 69px;
            width: 224px;
            top: 115px;
            left: 560px;
        }
        
        .silex-id-1474475736899-23 {
            min-height: 82px;
            width: 246px;
            top: 121px;
            left: 269px;
        }
        
        .silex-id-1474637806529-49 {
            min-height: 79px;
            width: 243px;
            top: 219px;
            left: 510px;
        }
        
        .silex-id-1474474922746-7 {
            top: 1963px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474922746-7 {
                top: 1723px;
                left: 0px;
            }
        }
        
        .silex-id-1474474922747-8 {
            min-height: 381px;
            background-color: rgba(0, 74, 122, 1);
            width: 1200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474474922747-8 {
                top: 0px;
                min-height: 329px;
                left: 12px;
                width: 445px;
            }
        }
        
        .silex-id-1474628571117-46 {
            min-height: 381px;
            width: 1200px;
            top: 0px;
            left: 0px;
            background-color: rgba(0, 74, 122, 1);
            background-image: url('../assets/bg2-small.jpg');
            background-size: cover;
            opacity: 0.1;
        }
        
        .silex-id-1474476052652-27 {
            min-height: 148px;
            width: 523px;
            top: 55px;
            left: 330px;
        }
        
        .silex-id-1476041842442-2 {
            min-height: 63px;
            width: 215px;
            top: 226px;
            left: 471px;
            border-width: 3px 3px 3px 3px;
            border-style: solid;
            border-radius: 3px 3px 3px 3px;
        }
        
        .silex-id-1474476306876-28 {
            top: 2442px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474476306876-28 {
                top: 1969px;
                left: 0px;
                width: 469px;
                background-color: rgba(255, 255, 255, 1);
            }
        }
        
        .silex-id-1474476306876-29 {
            min-height: 1449px;
            background-color: rgba(255, 255, 255, 1);
            width: 1200px;
            top: 0px;
            left: 115px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474476306876-29 {
                top: 0px;
                left: 12px;
                width: 445px;
                min-height: 1363px;
            }
        }
        
        .silex-id-1474477915631-36 {
            min-height: 66px;
            width: 811px;
            top: 24px;
            left: 190px;
        }
        
        .silex-id-1474476306876-30 {
            min-height: 185px;
            width: 299px;
            top: 133px;
            left: 190px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474476306876-30 {
                top: 204px;
                left: 3px;
                width: 217px;
                min-height: 196px;
            }
        }
        
        .silex-id-1474640021995-60 {
            min-height: 216px;
            width: 299px;
            top: 130px;
            left: 691px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474640021995-60 {
                top: 306px;
                left: 228px;
                width: 213px;
                min-height: 150px;
            }
        }
        
        .silex-id-1474639882997-57 {
            min-height: 221px;
            width: 213px;
            top: 359px;
            left: 234px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474639882997-57 {
                top: 351px;
                left: 9px;
                width: 191px;
                min-height: 199px;
            }
        }
        
        .silex-id-1474638641568-50 {
            min-height: 185px;
            width: 299px;
            top: 388px;
            left: 700px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474638641568-50 {
                top: 216px;
                left: 225px;
                width: 217px;
                min-height: 172px;
            }
        }
        
        .silex-id-1474638747798-51 {
            min-height: 185px;
            width: 299px;
            top: 627px;
            left: 190px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474638747798-51 {
                top: 486px;
                left: 3px;
                width: 217px;
                min-height: 292px;
            }
        }
        
        .silex-id-1474639871673-56 {
            min-height: 194px;
            width: 194px;
            top: 643px;
            left: 740px;
        }
        
        .silex-id-1474640079280-61 {
            min-height: 210px;
            width: 210px;
            top: 885px;
            left: 236px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474640079280-61 {
                top: 933px;
                left: 16px;
                width: 163px;
                min-height: 163px;
            }
        }
        
        .silex-id-1474638984042-55 {
            min-height: 185px;
            width: 299px;
            top: 915px;
            left: 700px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474638984042-55 {
                top: 876px;
                left: 4px;
                width: 217px;
                min-height: 196px;
            }
        }
        
        .silex-id-1474638954698-54 {
            min-height: 185px;
            width: 299px;
            top: 1155px;
            left: 198px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474638954698-54 {
                top: 558px;
                left: 225px;
                width: 217px;
                min-height: 148px;
            }
        }
        
        .silex-id-1474639982967-59 {
            min-height: 234px;
            width: 234px;
            top: 1141px;
            left: 728px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474639982967-59 {
                top: 1184px;
                left: 270px;
                width: 158px;
                min-height: 158px;
            }
        }
        
        .silex-id-1474640132684-63 {
            top: 3891px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474640132684-63 {
                background-color: rgba(206, 216, 228, 1);
            }
        }
        
        .silex-id-1474640132683-62 {
            min-height: 315px;
            background-color: rgba(206, 216, 228, 1);
            width: 1200px;
            top: 0px;
            left: 115px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474640132683-62 {
                min-height: 249px;
            }
        }
        
        .silex-id-1474640229624-64 {
            min-height: 26px;
            width: 687px;
            top: 21px;
            left: 272px;
        }
        
        .silex-id-1474721741953-78 {
            min-height: 195px;
            width: 783px;
            top: 101px;
            left: 200px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474721741953-78 {
                top: 222px;
                left: 11px;
                width: 423px;
                min-height: 44px;
            }
        }
        
        .silex-id-1474721722565-77 {
            min-height: 20px;
            width: 20px;
            top: 46px;
            left: 68px;
        }
        
        .silex-id-1474721720720-76 {
            min-height: 20px;
            width: 20px;
            top: 76px;
            left: 155px;
        }
        
        .silex-id-1474721709952-75 {
            min-height: 20px;
            width: 20px;
            top: 72px;
            left: 91px;
        }
        
        .silex-id-1474721700475-73 {
            min-height: 20px;
            width: 20px;
            top: 36px;
            left: 35px;
        }
        
        .silex-id-1474721696794-72 {
            min-height: 20px;
            width: 20px;
            top: 96px;
            left: 54px;
        }
        
        .silex-id-1474721681312-71 {
            min-height: 20px;
            width: 20px;
            top: 111px;
            left: 54px;
        }
        
        .silex-id-1474721679001-70 {
            min-height: 20px;
            width: 20px;
            top: 121px;
            left: 105px;
        }
        
        .silex-id-1474721675148-69 {
            min-height: 20px;
            width: 20px;
            top: 95px;
            left: 18px;
        }
        
        .silex-id-1474721665058-67 {
            min-height: 20px;
            width: 20px;
            top: 88px;
            left: 13px;
        }
        
        .silex-id-1474721661905-66 {
            min-height: 20px;
            width: 20px;
            top: 88px;
            left: 65px;
        }
        
        .silex-id-1474721653456-65 {
            min-height: 20px;
            width: 20px;
            top: 113px;
            left: 210px;
        }
        
        .silex-id-1474722266339-79 {
            min-height: 20px;
            width: 20px;
            top: 120px;
            left: 183px;
        }
        
        .silex-id-1474394605264-1 {
            top: 100px;
            left: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474394605264-1 {
                top: 2766px;
                left: 0px;
                width: 469px;
                background-color: rgba(206, 216, 228, 1);
            }
        }
        
        .silex-id-1474394605263-0 {
            min-height: 100px;
            background-color: rgba(206, 216, 228, 1);
            top: 0px;
            left: 213px;
            width: 1200px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1474394605263-0 {
                min-height: 152px;
            }
        }
        
        .silex-id-1442914737143-3 {
            min-height: 36px;
            width: 960px;
            top: 39px;
            left: 113px;
        }
    